@import url(reset.css);

header {position: relative; width: 100%; position: fixed; top: 0; background-color: #fff; position: fixed;}
header h1 {text-align: center; margin: 20px 0;}

.social {position: absolute; left: 15px; top: 20px;}

.loginMenu {position: absolute; right: 15px; top: 20px; overflow: hidden;}
.loginMenu a {text-decoration: none;}
.loginMenu .left {float: left;}

.mainMenu {overflow: hidden; text-align: center; margin-top: 30px;}
.mainMenu li{ display: inline-block;}
.mainMenu a {text-decoration: none; display: block; padding: 20px 30px;}

#main {
    margin-top: 170px;
    background-image: url(images/main.jpg);
    height: 500px;
    border-top: 3px solid red
}

#main div { color: #fff; text-align: center;}
#main div:first-child {padding-top: 100px; font-size: 50px;}
#main div:last-child {font-size: 30px; line-height: 80px;}

#list {text-align: center; margin-bottom: 100px;}
#list h2{padding: 10px 0; border-bottom: 3px dashed #ddd; font-size: 14px;}
#list ul li {display: inline-block; padding: 40px;}

footer {border-top: 3px solid #ddd; overflow: hidden;}
footer p:first-child {float: left;}
footer p:last-child {float: right;}